a{
	text-decoration: none;
}

html,body{
	width: 100vw;
	margin: 0;
}
body{
	position: relative;
	font-family: 'Quicksand','Noto Sans Japanese', sans-serif;
}
header{
	width: 100vw;
	height: 100vh;
	background-image: url(./img/virgin-2721333_1920.jpg);
	background-position: center;
	background-size: cover;
}
header .nav{
	width: 80%;
	padding: 0 10%;
	background-color: rgba(75,75,75,0.8);
	background-color: darkslateblue;
}
header .nav h3{
	display: inline-block;
	margin: 0;
	padding: 0 10% 0 2%;
	font-size: 40px;
	font-weight: normal;
	color: white;
	vertical-align: top;
}
header .nav a{
	display: inline-block;
	margin: 0;
	padding: 15px 3%;
	font-size: 22px;
	color: white;
	vertical-align: top;
}
header h2{
	width: 100%;
	padding-top: 5%;
	text-align: center;
	font-size: 50px;
	font-weight: normal;
}
main,
article{
	width: 100vw;
}
main section{
	width: 100%;
}
main .container{
	width: 100%;
	margin: 100px 0;
}
main .container .img{
	display: inline-block;
	width: 50%;
	height: 500px;
	background-image: url(./img/airport-2085261_1920.jpg);
	background-size: cover;
	background-position: center;
	vertical-align: top;
}
main .container .desc{
	display: inline-block;
	width: 40%;
	height: 400px;
	padding: 50px 5%;
	background-color: darkslateblue;
	vertical-align: top;
}
main .container .desc h2{
	font-size: 50px;
	font-weight: normal;
	color: white;
}
main .container .desc p{
	font-size: 20px;
	color: white;
}
main .belt{
	width: 100%;
	padding: 0;
	margin: 50px 0;
}
main .belt .img{
	display: inline-block;
	width: 33.3333%;
	height: 250px;
	background-size: cover;
	background-position: center;
	font-size: 0;
	vertical-align: top;
}
main .belt .img01{
	background-image: url(./img/flight-4454338_1920.jpg);
}
main .belt .img02{
	background-image: url(./img/indoor-2594469_1920.jpg);
}
main .belt .img03{
	background-image: url(./img/aircraft-3702676_1920.jpg);
}
main .belt .desc{
	display: inline-block;
	width: 33.3333%;
	height: 250px;
	background-color: mediumseagreen;
	vertical-align: top;
	text-align: center;
}
main .belt .desc span{
	display: block;
	width: 200px;
	margin: 15% auto 0 auto;
	padding: 20px 20px;
	border-top: solid 3px white;
	border-bottom: solid 3px white;
	font-size: 50px;
	color: white;
}